body {
    background-color: #1b1b1b; /* Fundo mais escuro */
    color: white; /* Texto branco */
}

.header-title {
    margin-bottom: 30px;
}

.login-container {
    background-color: rgba(45, 45, 45, 0.9); /* Fundo do container um pouco mais claro */
    padding: 20px;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombra sutil */
}

button {
    background-color: yellow; /* Fundo amarelo para botões */
    color: black; /* Texto preto nos botões */
    font-size: 1.2rem; /* Tamanho do texto no botão aumentado */
    padding: 12px; /* Mais espaço dentro do botão */
    transition: background-color 0.3s, transform 0.2s; /* Transições suaves */
}

button:hover {
    background-color: #f0e68c; /* Tom mais claro ao passar o mouse */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}
